<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>banner-url-mapping</key>
	<dict>
		<key>banner-1</key>
		<string>1379deb26d68454e8dd19bd80435ee2a</string>
		<key>banner-2</key>
		<string>aae3a2f2c0de4296afe7715f75819ca4</string>
		<key>banner-3</key>
		<string>da2a89fedbd04cc7b35e0e8fc50813d2</string>
	</dict>
	<key>lbslm</key>
	<string>lbslm:///root/tab</string>
	<key>services</key>
	<array/>
	<key>ui</key>
	<dict>
		<key>topic-share-list</key>
		<dict>
			<key>class</key>
			<string>LLTopicShareViewController</string>
			<key>nib</key>
			<string>LLTopicShareViewController</string>
		</dict>
		<key>focus</key>
		<dict>
			<key>class</key>
			<string>LLMyCenterViewControllerRefactor</string>
			<key>nib</key>
			<string>LLMyCenterViewControllerRefactor</string>
		</dict>
		<key>index-focus</key>
		<dict>
			<key>class</key>
			<string>LLHotShareViewController</string>
			<key>nib</key>
			<string>LLHotShareViewController</string>
		</dict>
		<key>dev-catagory</key>
		<dict>
			<key>class</key>
			<string>LLDeviceCatagoryViewController</string>
			<key>nib</key>
			<string>LLDeviceCatagoryViewController</string>
		</dict>
		<key>location-choose</key>
		<dict>
			<key>class</key>
			<string>LLLocationChooseViewController</string>
			<key>nib</key>
			<string>LLLocationChooseViewController</string>
		</dict>
		<key>web</key>
		<dict>
			<key>class</key>
			<string>LLWebBrowserViewController</string>
			<key>nib</key>
			<string>LLWebBrowserViewController</string>
			<key>title</key>
			<string>用户协议</string>
		</dict>
		<key>setting</key>
		<dict>
			<key>class</key>
			<string>SettingViewController</string>
			<key>nib</key>
			<string>SettingViewController</string>
		</dict>
		<key>share</key>
		<dict>
			<key>class</key>
			<string>LLShareViewController</string>
			<key>nib</key>
			<string>LLShareViewController</string>
			<key>title</key>
			<string>发新贴</string>
		</dict>
		<key>user-protocol</key>
		<dict>
			<key>class</key>
			<string>UserProtocolViewController</string>
			<key>nib</key>
			<string>UserProtocolViewController</string>
		</dict>
		<key>qr-scan</key>
		<dict>
			<key>class</key>
			<string>QRKnowViewController</string>
			<key>nib</key>
			<string>QRKnowViewController</string>
		</dict>
		<key>tmc-share-list</key>
		<dict>
			<key>class</key>
			<string>TmcCenterViewControllerRefactor</string>
			<key>nib</key>
			<string>TmcCenterViewControllerRefactor</string>
		</dict>
		<key>tmc-list</key>
		<dict>
			<key>title</key>
			<string>订单</string>
			<key>class</key>
			<string>LLWorkSpaceViewController</string>
			<key>nib</key>
			<string>LLWorkSpaceViewController</string>
		</dict>
		<key>create-tmc</key>
		<dict>
			<key>class</key>
			<string>CreateTenMilesCircleViewController</string>
			<key>nib</key>
			<string>CreateTenMilesCircleViewController</string>
		</dict>
		<key>enrolllist</key>
		<dict>
			<key>class</key>
			<string>LLEnrollListViewController</string>
			<key>nib</key>
			<string>LLEnrollListViewController</string>
		</dict>
		<key>goodlist</key>
		<dict>
			<key>nib</key>
			<string>LLCrownGoodListViewController</string>
			<key>class</key>
			<string>LLCrownGoodListViewController</string>
		</dict>
		<key>fill-personal</key>
		<dict>
			<key>class</key>
			<string>UserInfoFillContorllerViewController</string>
			<key>nib</key>
			<string>UserInfoFillContorllerViewController</string>
		</dict>
		<key>me</key>
		<dict>
			<key>class</key>
			<string>LLMeViewController</string>
			<key>nib</key>
			<string>LLMeViewController</string>
			<key>title</key>
			<string>我</string>
		</dict>
		<key>profile-setting</key>
		<dict>
			<key>class</key>
			<string>LLEditProfileViewController</string>
			<key>nib</key>
			<string>LLEditProfileViewController</string>
			<key>title</key>
			<string>我的</string>
		</dict>
		<key>setting-profile</key>
		<dict>
			<key>class</key>
			<string>LLProfileEditViewController</string>
			<key>nib</key>
			<string>LLProfileEditViewController</string>
			<key>title</key>
			<string>设置</string>
		</dict>
		<key>edit-name</key>
		<dict>
			<key>class</key>
			<string>LLEditNameViewController</string>
			<key>nib</key>
			<string>LLEditNameViewController</string>
			<key>title</key>
			<string>姓名</string>
		</dict>
		<key>edit-password</key>
		<dict>
			<key>class</key>
			<string>LLPasswordEditViewController</string>
			<key>nib</key>
			<string>LLPasswordEditViewController</string>
			<key>title</key>
			<string>修改密码</string>
		</dict>
		<key>nav-messages</key>
		<dict>
			<key>navbar-hidden</key>
			<true/>
			<key>class</key>
			<string>LLBaseNavigationController</string>
			<key>nib</key>
			<string></string>
		</dict>
		<key>im</key>
		<dict>
			<key>class</key>
			<string>LLEMIMViewController</string>
		</dict>
		<key>chats</key>
		<dict>
			<key>title</key>
			<string>通知</string>
			<key>class</key>
			<string>LLEMChatsViewController</string>
			<key>nib</key>
			<string>LLEMChatsViewController</string>
		</dict>
		<key>nav-share</key>
		<dict>
			<key>nib</key>
			<string></string>
			<key>class</key>
			<string>LLBaseNavigationController</string>
			<key>navbar-hidden</key>
			<true/>
		</dict>
		<key>nav-tmiles-circle</key>
		<dict>
			<key>nib</key>
			<string></string>
			<key>navbar-hidden</key>
			<true/>
			<key>class</key>
			<string>LLBaseNavigationController</string>
		</dict>
		<key>nav-me</key>
		<dict>
			<key>nib</key>
			<string></string>
			<key>class</key>
			<string>LLBaseNavigationController</string>
			<key>navbar-hidden</key>
			<string>YES</string>
		</dict>
		<key>root</key>
		<dict>
			<key>class</key>
			<string>LLBaseNavigationController</string>
			<key>nib</key>
			<string></string>
			<key>navbar-hidden</key>
			<true/>
		</dict>
		<key>tab</key>
		<dict>
			<key>class</key>
			<string>LLTabBarViewController</string>
			<key>items</key>
			<array>
				<dict>
					<key>url</key>
					<string>tab:///nav-share/index</string>
					<key>title</key>
					<string>首页</string>
					<key>image</key>
					<string>tab_index_new</string>
				</dict>
				<dict>
					<key>url</key>
					<string>tab:///nav-messages/chats</string>
					<key>title</key>
					<string>消息</string>
					<key>image</key>
					<string>tabbar_message_new</string>
				</dict>
				<dict>
					<key>url</key>
					<string>tab:///nav-me/me</string>
					<key>title</key>
					<string>我的</string>
					<key>image</key>
					<string>tabbar_me_new</string>
				</dict>
			</array>
		</dict>
		<key>guide</key>
		<dict>
			<key>class</key>
			<string>LLGuideScrollViewController</string>
			<key>nib</key>
			<string>LLGuideScrollViewController</string>
			<key>images</key>
			<array>
				<string>leadingpage_1</string>
				<string>leadingpage_2</string>
			</array>
		</dict>
		<key>login</key>
		<dict>
			<key>class</key>
			<string>LoginViewController</string>
			<key>nib</key>
			<string>LoginViewController</string>
			<key>title</key>
			<string>用户登录</string>
		</dict>
		<key>signup</key>
		<dict>
			<key>class</key>
			<string>SignupViewController</string>
			<key>nib</key>
			<string>SignupViewController</string>
		</dict>
		<key>index</key>
		<dict>
			<key>class</key>
			<string>LLIndexSegmentViewController</string>
		</dict>
		<key>plaza</key>
		<dict>
			<key>class</key>
			<string>LLHomeViewController</string>
			<key>nib</key>
			<string>LLHomeViewController</string>
		</dict>
		<key>share-detail</key>
		<dict>
			<key>class</key>
			<string>LLShareDetailViewControllerRefactor2</string>
			<key>nib</key>
			<string>LLShareDetailViewControllerRefactor2</string>
			<key>title</key>
			<string>详情</string>
		</dict>
		<key>share-detail-refactor</key>
		<dict>
			<key>class</key>
			<string>LLShareDetailViewControllerRefactor2</string>
			<key>nib</key>
			<string>LLShareDetailViewControllerRefactor2</string>
			<key>title</key>
			<string>Detail</string>
		</dict>
		<key>video-record</key>
		<dict>
			<key>class</key>
			<string>KZVideoViewController</string>
		</dict>
	</dict>
	<key>guide</key>
	<string>guilde:///guide</string>
	<key>login</key>
	<string>login:///root/login</string>
</dict>
</plist>
